<form method = "POST" action="../profile/editPassword">
	<fieldset>
		<legend>Edit Password</legend>

		<label for="currentPassword">Current Password</label> 
		<input type="password" name="currentPassword" class="form-control" required/>

		<label for="newPassword">New Password</label> 
		<input type="password" name="newPassword" class="form-control" required/>

		<input class="btn btn-primary" type = "submit" value = "Update password" />
	</fieldset>
</form>