<form method = "POST" action="../profile/editPassword">
	<fieldset>
		<legend>Edit Password</legend>

		<label for="currentPassword">Current Password</label> 
		<input type="password" name="currentPassword" require/>

		<label for="newPassword">New Password</label> 
		<input type="password" name="newPassword" require/>

		<input type = "submit" value = "Update Password" />
	</fieldset>
</form>