<form method = "POST" action="profile/editProfile">
	<fieldset>
		<legend>Edit Profile</legend>

		<label for="firstname">First Name</label> 
		<input type="text" name="firstname" placeholder="<%= firstname %>" />

		
		<label  for="lastname">Last Name</label> 
		<input type="text" name="lastname" placeholder="<%= lastname %>"/>


		<label for="email">Email</label> 
		<input type="email" name="email" placeholder="<%= email %>"/>

		<input type = "submit" value = "Update Profile" />
	</fieldset>
</form>