<form method = "POST" action="../profile/editProfile">
	<fieldset>
		<legend>Edit Profile</legend>

		<label for="firstname">First Name</label> 
		<input type="text" name="firstname" placeholder="<%= userInfo["firstname"] %>" />

		
		<label  for="lastname">Last Name</label> 
		<input type="text" name="lastname" placeholder="<%= userInfo["lastname"] %>"/>


		<label for="email">Email</label> 
		<input type="email" name="email" placeholder="<%= userInfo["email"] %>"/>

		<input type = "submit" value = "Update Profile" />
	</fieldset>
</form>