<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
		<link rel="stylesheet" type="text/css" href="/bootstrap-3.4.1-dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
		<script defer type="text/javascript" src="/js/checkout.js"></script>
		<!-- <script defer type="text/javascript" src="/js/main.js"></script> -->
		<title>Check out</title>
	</head>
	<body>
		<!-- <nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li id="goBack"><a>Go back</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/profile">Profile</a></li>
						<li><a href="/users/signout">Sign out</a></li>
					</ul>
				</div>
			</div>
		</nav> -->

		<div class="container">
			<div>
				<h2>Checkout</h2>
			</div>
			<div>
				<div class="nav" style="margin-bottom: 20px;">
					<button id="goBack" class="btn btn-info" type="button">Go back</button>
					<!-- state? -->
					<script>
						$('#goBack').on('click', function(){
							history.back(-1);
						});
					</script>
					<button id="confirm" class="btn btn-primary pull-right" type="button">Confirm</button>
				</div>
				<div style="margin-bottom: 10px;">
					<input type="text" placeholder="Quantity" name="quantity" style="width:6em; display:inline;" class="form-control">
					<input id="changeQuantity" class="btn btn-primary" type="button" value="Change quantity"/>
				</div>
				<div>
					<input id="remove" class="btn btn-primary" type="button" value="Remove"/>
					<div class="text-right" style="font-size: 16px;">
						<span>Total items:</span>
						<span id="total">QUANTITY</span>
					</div>
				</div>

			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<th></th>
						<th></th>
						<th>Title</th>
						<th>Price</th>
						<th>Quantity</th>
					</thead>
					<tbody>
						<!--  -->
						<tr class="cartItem">
							<td>
								<div class="checkbox">
									<label>
										<input class="cartCheck" type="checkbox">
									</label>
								</div>
							</td>
							<td><img src="" alt="" class="thumbnail"></td>
							<td class="title"></td>
							<td class="price"></td>
							<td class="quantity"></td>
						</tr>
						<!--  -->
					</tbody>
				</table>
			</div>

		</div>




	</body>
</html>
