<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/home.css" media="screen" />
		<script defer type="text/javascript" src="/js/home.js"></script> 
		<title>PhoneZone</title>
	</head>
	<body>
		<nav>
			<a href="/">Main</a>
			<a href="/profile">Profile</a>
			<a href="/users/signout">Sign out</a> 
		</nav>
		<h2>Checkout</h2>


		
	</body>
</html>