<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
		<link rel="stylesheet" type="text/css" href="/bootstrap-3.4.1-dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
		<script defer type="text/javascript" src="/js/main.js"></script>
		<title>PhoneZone</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
					<a class="navbar-brand" href="/">PhoneZone</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<form method = "POST" name="search" class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" placeholder="Search..." name="searchtext" class="form-control">
						</div>
						<input class="btn btn-primary" type="submit" value="Search" />
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/checkout">Check out</a></li>
						<% if(typeof user_id == 'undefined') { %>
							<li><a href="/users/signup">Sign up</a></li>
							<li><a href="/users/signin">Sign in</a></li>
						<% } else { %>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/signout">Sign out</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<h2>Home Page</h2>
			<form method = "POST" name="selectItemTest" class="form-select">
				<!-- ObjectId("6086b9b11a7d20aabcdd370e") -->
				<input type="text" name="selectItem" hidden=true value="6086b9b11a7d20aabcdd370e">
				<input class="btn btn-primary" type="submit" value="select" />
			</form>

			<% if(locals.searchResults) { %>
				<%- include('main/search') %>
			<% } else if(locals.item) { %>
				<%- include('main/selectItem') %>
			<% } else { %>
				<%- include('main/home') %>
			<% } %>
		</div>
		

	</body>
</html>
