<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
		<script type="text/javascript" src="/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="/bootstrap-3.4.1-dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
		<script defer type="text/javascript" src="/js/main.js"></script>
		<script defer type="text/javascript" src="/js/jquerysession.js"></script>
		<title>PhoneZone</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header" style="top: 50%;">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
					<a class="navbar-brand" href="/home">PhoneZone</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" style="top: 50%;">
					<!-- <form method="POST" name="search" class="navbar-form navbar-left" role="search"> -->
					<form id="search" name="search" class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" placeholder="Search..." name="searchtext" class="form-control">
						</div>
						<!-- <input id="searchBtn" class="btn btn-primary" type="submit" value="Search" /> -->
						<input id="searchBtn" class="btn btn-primary" type="button" value="Search" role="button" />
					</form>
					<ul id="searchFilter" class="navbar-form navbar-left"></ul>
					<ul id="searchRange" class="navbar-form navbar-left"></ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/checkout">Check out <span id="cartQuantity" class="badge badge-primary badge-pill"></span></a></li>
						<% if(typeof user_id == 'undefined') { %>
							<li><a href="/users/signup">Sign up</a></li>
							<li><a href="/users/signin">Sign in</a></li>
						<% } else { %>
							<li><a href="/profile">Profile</a></li>
							<li><a id="signout" class="btn btn-default" role="button" data-toggle="modal" data-target="#signoutModal" style="border: 0em; background-color: transparent;">Sign out</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<h3 id="heading">Home Page</h3>

			<div id="searchError"></div>

			<div id="searchResult"></div>

			<div id="itemInfo"></div>

			<% if(tab=='search') { %>
				<%- include('main/search') %>
			<% } else if(tab == 'item') { %>
				<%- include('main/selectItem') %>
			<% } else { %>
				<%- include('main/home') %>
			<% } %>

			<div class="modal fade" id="signoutModal" tabindex="-1" role="dialog" aria-labelledby="signoutModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title" id="signoutModalLabel">Do you want yo sign out?</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="close"></button>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<input id="confirmsignoutBtn" class="btn btn-primary" type="button" value="Confirm" role="button"/>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
