<div class="modal fade" id="modalTemplate" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabel"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-footer">
        <input id="modalInput" type="text" name="modalInput" class="form-control hide" data-dismiss="modal"></input>
        <button id="modalBtn2" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input id="modalBtn" class="btn btn-primary hide" type="button" value="Confirm" role="button"/>
      </div>
    </div>
  </div>
</div>
